:root {
  --main-font-jp: "游明朝", "游明朝体", "Yu Mincho", YuMincho, serif;
  --main-font-latin: "Lora", serif;
}
html {
  font-family: "Yu Mincho";
  -webkit-font-smoothing: antialiased;
  line-height: 2;
}
h1 {
  font-weight: normal;
}
h2 {
  font-weight: normal;
  font-size: 1.5rem;
}
h3 {
  font-weight: normal;
}
h4 {
  font-weight: normal;
}
h5 {
  font-weight: normal;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 1.125rem;
  margin: 1rem 0;
  line-height: inherit;
  // font-size: clamp(12px, 4vw, 14px);
}
footer {
  > div {
    > small {
      font-family: var(--main-font-latin);
      color: #fff;
      font-size: 1rem;
    }
  }
}
small {
  font-size: inherit;
}
a.active {
  color: #b8a273;
}
li.active {
  a {
    color: white;
    background-color: #b8a273;
  }
}
$medium: 768px;
.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 150ms linear;

  // &:focus,
  // &:hover {
  //   opacity: 1;

  .linkInner {
    //     transform: translateY(0);
    border-color: rgba(255, 255, 255, 0.625);
  }
  // }
}

.linkInner {
  padding: 0.375em 1em;
  border: 2px solid rgba(255, 255, 255, 0);
  //   transition: transform 300ms cubic-bezier(0, 0.4, 0.6, 1), border-color 1s linear;
  //   transform: translateY(25%);
}

.scrolldown::after {
  animation: bounce 1s ease infinite;
  bottom: 0;
  color: #fff;
  content: "╲╱";
  font-size: 2rem;
  height: 4rem;
  left: 50%;
  letter-spacing: -1px;
  line-height: 4rem;
  margin-left: -3rem;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  width: 6rem;
  z-index: 99;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
}
