:root {
  --main-font-jp: "游明朝", "游明朝体", "Yu Mincho", YuMincho, serif;
  --main-font-latin: "Lora", serif;
}
html {
  font-family: "Yu Mincho";
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-weight: normal;
}
h2 {
  font-weight: normal;
  font-size: 1.5rem;
}
h3 {
  font-weight: normal;
}
h4 {
  font-weight: normal;
}
h5 {
  font-weight: normal;
}
h6 {
  font-weight: normal;
}
p {
  line-height: 1.5;
  margin: 10px;
  // font-size: clamp(16px, 4vw, 22px);
}
footer {
  > div {
    > small {
      font-family: var(--main-font-latin);
      color: #fff;
      font-size: 1rem;
    }
  }
}
small {
  font-size: inherit;
}
a.active {
  color: #b8a273;
}
li.active {
  a {
    color: white;
    background-color: #b8a273;
  }
}
