---
// Component Imports
import Nav from '../components/Nav.astro';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';

---
<html lang="en">
<head>
  <BaseHead title="Bi-Su Official Global Website | Contact us" description="Bi-Su Official Global Website―company,brands,sustainability,birdnest"/>
  </head>

  <body>
  <div class="flex flex-col h-screen justify-between">

<main>
<Nav contact="active" DIR=".."/>
      <section class="relative  h-hero lg:h-[50rem] overflow-hidden hero ">
            <h1 class="text-center absolute left-1/2 w-full top-1/2 lg:left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-[1.5rem] lg:text-[2rem]">Contact Us</h1>
            <div class="bg h-full lg:h-[50rem]" style="background-image:url('../assets/images/19.jpg');position:absolute;background-size:cover;background-position:center;z-index:-1;width:100%;background-repeat:no-repeat;"/>
            <!--img src="../assets/images/19.jpg" alt="Contact Us" class="object-cover w-full h-[50rem]"-->
      </section>

      <form class="w-full max-w-4xl mt-10 lg:mt-24 mx-auto">

    <div class="flex flex-col lg:flex-row w-full px-3 mb-6 md:mb-0 items-center">
      <label class="w-full lg:w-2/6 uppercase tracking-wide mb-2" for="grid-first-name">
        ＊Full Name
      </label>
      <input class="w-full lg:w-4/6 appearance-none border border-black py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="">
    </div>

    <div class="flex flex-col lg:flex-row w-full px-3 mb-6 md:mb-0 items-center">
      <label class="w-full lg:w-2/6 uppercase tracking-wide mb-2" for="grid-email">
        ＊Email
      </label>
      <input class="w-full lg:w-4/6 appearance-none border border-black py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-email" type="email" placeholder="">
    </div>

    <div class="flex flex-col lg:flex-row w-full px-3  mb-0 items-center">
      <label class="w-full lg:w-2/6 uppercase tracking-wide mb-2" for="message">
        ＊Message
      </label>
      <textarea class="w-full lg:w-4/6 no-resize appearance-none block w-full  border border-black py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 h-48 resize-none" id="message"></textarea>
    </div>

    <div class="flex flex-col lg:flex-row w-full px-3 mb-6 md:mb-0 items-center">
      <label class="w-full lg:w-2/6 tracking-wide mb-2" for="message">
      </label>
      <p class="w-full lg:w-4/6  block w-full  py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 resize-none text-xs" >We will respond to your inquiry within 72 hours</p>
    </div>

     <div class="flex w-full px-3 mb-6 md:mb-0 items-center">
      <p class="w-full tracking-wide mb-2 text-xs" >
      <input type="checkbox" class="form-checkbox" checked /> *I agree to the protection of my personal information.
      </p>
      </label>
    </div>

    <div class="flex w-full px-3 mb-2 md:mb-0 items-center">
      <p class="w-full tracking-wide mb-2 text-dark-golden text-sm" >Protection of Personal Information *Customer’s personal information will be handled in accordance with the personal information protection policy specified by our company. This is a promise between the customer and our company regarding the handling of personal information disclosed by our company.
      </p>
    </div>

  <div class="flex items-center justify-center mt-12 mb-10">
      <button class="w-3/4 lg:w-1/2 shadow bg-dark-golden hover:bg-golden focus:shadow-outline focus:outline-none text-white py-2 px-4 block" type="button">
        Send
      </button>
  </div>
</form>
</main>
    <Footer />
    </div>
     <script src={Astro.resolve("../js/app.js")} type = "text/javascript">
    </script >
  </body>
</html>