---
// Component Imports
import Nav from '../components/Nav.astro';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';

---
<html lang="en">
  <BaseHead title="Bi-Su Official Global Website | Contact us" description="Bi-Su Official Global Website―company,brands,sustainability,birdnest"/>

  <body>
    <Nav contact="active" DIR=".."/>

      <section class="relative ">
            <h1 class=" absolute top-[60%] left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-[2rem]">Contact Us</h1>
             <img src="../assets/images/19.jpg" alt="Contact Us" class="object-cover lg:object-fill">
      </section>

      <section class="flex p-20 justify-center border-b-2 border-golden">
      <h3 class="block text-center ">Please fill out the form below and click “Confirm”. Fields marked with * are required.</h3>
      </section>
      <form class="w-full max-w-4xl mt-24 mx-auto">

    <div class="flex w-full px-3 mb-6 md:mb-0 items-center">
      <label class="w-2/6 uppercase tracking-wide mb-2" for="grid-first-name">
        Full Name
      </label>
      <input class="w-4/6 appearance-none border border-black py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="">
    </div>

    <div class="flex w-full px-3 mb-6 md:mb-0 items-center">
      <label class="w-2/6 uppercase tracking-wide mb-2" for="grid-email">
        Email
      </label>
      <input class="w-4/6 appearance-none border border-black py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-email" type="email" placeholder="">
    </div>

    <div class="flex w-full px-3 mb-6 md:mb-0 items-center">
      <label class="w-2/6 uppercase tracking-wide mb-2" for="message">
        Message
      </label>
      <textarea class="w-4/6 no-resize appearance-none block w-full  border border-black py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 h-48 resize-none" id="message"></textarea>
    </div>

    <div class="flex w-full px-3 mb-6 md:mb-0 items-center">
      <label class="w-2/6 uppercase tracking-wide mb-2" for="message">
      </label>
      <p class="w-4/6  block w-full  py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 resize-none" >※Please note that it may take a few days for us to reply to you depending on the contents ofyour inquiry. If you do not receive a reply within a few days, please call us. <br>In addition, if you do not receive a reply within a few days, please call us for confirmation.</p>
    </div>

     <div class="flex w-full px-3 mb-6 md:mb-0 items-center">
      <p class="w-full uppercase tracking-wide mb-2" >*I agree to the protection of my personal information.
      </p>
    </div>

    <div class="flex w-full px-3 mb-2 md:mb-0 items-center">
      <p class="w-full uppercase tracking-wide mb-2 text-dark-golden" >Protection of Personal Information *Customer’s personal information will be handled in accordance with the personal information protection policy specified by our company. This is a promise between the customer and our company regarding the handling of personal information disclosed by our company.
      </p>
    </div>

  <div class="md:flex md:items-center justify-center mt-12 mb-10">
      <button class="md:w-1/2 shadow bg-dark-golden hover:bg-teal-400 focus:shadow-outline focus:outline-none text-white py-2 px-4 block" type="button">
        Send
      </button>
  </div>
</form>
    <Footer />
  </body>
</html>