---
// Component Imports
import Nav from '../components/Nav.astro';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';

---
<html lang="en">
<head>
  <BaseHead title="Bi-Su Official Global Website | Global" description="Bi-Su Official Global Website―company,brands,sustainability,birdnest">
    <script src="../assets/js/point-map.js?2" defer></script>
</BaseHead>
</head>
<style lang="scss">
$medium : 768px;
        canvas {
            padding: 50px 0;
            box-sizing: content-box;
            width: 100%;
            height: 100%;

        }

        .tips-wrap{
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            padding: 5px 10px;
            width:4rem;
            justify-content: center;
            align-items: center;
        }
        .tips-wrap img{
          transform: translate(-63%,-100%);
        }
        .tips{
          height:2rem;
        }
        .tips2{
          /*
          background:#fff;
          padding:7px;
          border-radius:5px;
          border:1px solid gray;
          */
        }
        embed{
          pointer-events:none;
        }
        .marker:hover{
          cursor:pointer;
        }
         #map{
           position:relative;
                & canvas{
                  position:absolute; top:0; left:0; z-index:0
                }
                @media screen and (max-width: $medium) {
                  height:calc(100vh - 15rem);
                  width:1920px;
                  overflow:auto;
                  touch-action: pan-x pan-y !important;
                }
          }
          #modal{
            opacity:0;
          }
</style>
  <body>
  <div class="flex flex-col h-screen justify-between">

      <main>
      <Nav global="active" DIR=".."/>
<div class="absolute inset-0 flex items-center justify-center bg-gray-700 bg-opacity-50 z-10 h-screen" id="modal">
        <div class="w-full max-w-sm p-6 bg-white divide-y divide-gray-500">
            <div class="flex items-center justify-between">
                <h3 class="text-2xl" id="modal-title"></h3>
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 close hover:cursor-pointer" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>

            </div>
            <div class="pt-4 tips2">
            <a class="instagram hidden flex">
             <embed src="../assets/icons8-instagram.svg" class="h-8"/>
              Instagram
            </a>
            <a class="facebook hidden flex">
              <embed src="../assets/icons8-facebook.svg" class="h-8"/>
               Facebook
            </a>
            <a class="weibo hidden flex">
              <embed src="../assets/sina-weibo.svg" class="h-8"/>
               Weibo
            </a>
            <a class="twitter hidden flex">
              <embed src="../assets/icons8-twitter.svg" class="h-8"/>
               Twitter
            </a>
            <a class="xhs hidden flex">
              <embed src="../assets/xiaohongshu-chinese-logo.png" class="h-8"/>
               Xiaohongshu
            </a>
            </div>
        </div>
</div>

      <section>
        <h1 class="text-3xl my-10 block text-center title">Deliver the value to the world</h1>
      <div id="map-wrapper" class="overflow-scroll">
        <div id="map" class="h-96">
          <!--img src="https://cart.bi-su.jp/user_data/packages/raku2pc/img/common/favicon.ico" style="width: 20px;height: 20px;left: 29.5%;top: 17%;position: absolute;" id="test-jp"-->
          <div class="tips-wrap">
            <img class="marker"/>
          </div>
        </div>
      </div>
      </section>


  </main>
    <Footer />
    </div>
    <script src="../assets/js/hammer.min.js"></script>
     <script type="text/javascript">

document.addEventListener("DOMContentLoaded", function () {

      // Create an instance
      let map = new PointMap('map');

      map.config.eventPointColor = "#333";
      map.config.mapBgColor = "#B8A273";
      map.config.activePointColor = '#231232';
      map.config.mapActiveBgColor ='#B8A273';
      // Add event points

    setTimeout(function(){
        map.addEvents([{
        name: 'Singapore',
        coordinate: [-70.8198, 1.3521 ],
        start:[-40.5902 ,130.4017],
        pointer : "../assets/maps/sg.png",
        instagram:"https://www.instagram.com/bi_su_official_sg/",
        facebook:"https://www.facebook.com/bisu.official.sg"
    }, {
        name: 'Japan',
        coordinate: [-40.5902 ,130.4017],
        start:[-40.5902 ,130.4017],
        pointer : "../assets/maps/jpn.png",
         instagram:"https://www.instagram.com/bi_su_official/",
        facebook:"https://www.facebook.com/www.bisu.jp/",
        twitter:"https://twitter.com/bi_su_official"
    },{
        name: 'USA',
        coordinate: [77.0369, 38.9072 ],
        start:[-40.5902 ,130.4017],
        pointer : "../assets/maps/usa.png",
         instagram:"https://www.instagram.com/bi_su_official_us/",
        facebook:"https://www.facebook.com/en.bisu.jp"
    },{
        name: 'China',
        coordinate: [-70.9042 ,116.4074],
        start:[-40.5902 ,130.4017],
        pointer : "../assets/maps/ch.png",
        xiaohongshu:"https://www.xiaohongshu.com/user/profile/6162aee4000000000201b1cb?xhsshare=CopyLink&appuid=6042323100000000010063b4&apptime=1640144826",
        weibo:"https://weibo.com/u/7727981722?refer_flag=0000015010_&from=feed&loc=nickname&is_all=1"
    }]);
    },2000)


const tips = document.querySelector('.tips-wrap');
const marker = document.querySelector('.marker');
const tips2 = document.querySelector('.tips2');
const modalTitle = document.querySelector('#modal-title');

let infoBox = function(e,data){
  if (data) {
        let container = document.querySelector("#map-wrapper");
        let rect = container.getBoundingClientRect();
        let x = e.clientX + container.scrollLeft - rect.left;
        let y = e.clientY + container.scrollTop - rect.top;
        tips.style.left = `${x}px`;
        tips.style.top = `${y }px`;
        tips.style.display = 'flex';
        marker.src = data.map(d => d.pointer);
        modalInfo(e,data);
        }
    }

let modalInfo = function(e,data){
  if(data){
    const fb = tips2.querySelector(".facebook");
    const ig = tips2.querySelector(".instagram");
    const weibo = tips2.querySelector(".weibo");
    const twitter = tips2.querySelector(".twitter");
    const xhs = tips2.querySelector(".xhs");

    data.map(d => {ig.href = d.instagram;d.instagram ? ig.classList.remove("hidden") : ig.classList.add("hidden") });
    data.map(d => {fb.href = d.facebook;d.facebook ? fb.classList.remove("hidden") : fb.classList.add("hidden")});
    data.map(d => {weibo.href = d.weibo;d.weibo ? weibo.classList.remove("hidden") : weibo.classList.add("hidden")});
    data.map(d => {twitter.href = d.twitter;d.twitter ? twitter.classList.remove("hidden") : twitter.classList.add("hidden")});
    data.map(d => {xhs.href = d.xiaohongshu;d.xiaohongshu ? xhs.classList.remove("hidden") : xhs.classList.add("hidden")});

    modalTitle.innerText = data.map(d => d.name).join("\n");

  }
}

      document.querySelector(".marker").addEventListener('click', function(e, data) {
          gsap.to("#modal",{opacity:1,y:0});
      });
      document.querySelector(".close").addEventListener('click', function(e, data) {
          gsap.to("#modal",{opacity:0,y:"-100%"})
      });


      //document.querySelector("#test-jp").addEventListener('click', function(e, data) {
      //    gsap.to("#modal",{y:0})
      //});

      gsap.registerPlugin(ScrollToPlugin);

      gsap.set("#map",{scaleX:1,scaleY:1,x:-100});
      gsap.set("#modal",{y:"-100%"});

      let tl = gsap.timeline();
      tl.to("#map",{x:0,duration:1});
      if(window.screen.width <= 769){

        map.on("click", (e,data) => {
                gsap.to("#modal",{y:0,opacity:1})
                modalInfo(e,data);
              });
        tl.to("#map-wrapper",{ scrollTo:{x:600,y:1000},duration:1});
        tl.to("#map", {scale: 1.3, transformOrigin:"top center",duration: 1});

        } else{

         map.on("mousemove", (e,data) => {
         infoBox(e,data);
      });
      }
      tl.from(".title",{autoAlpha:0,duration:1});

var myElement = document.getElementById('map');

      var hammertime = new Hammer(myElement);
      hammertime.get('pinch').set({ enable: true });
      hammertime.on('pinch', function(ev) {
        gsap.to("#map", {scale: ev.scale, transformOrigin:"top",duration: 1});
      });


      });
    </script>
  </body>
</html>