---
// Component Imports
import Nav from '../components/Nav.astro';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';

---
<html lang="en">
  <BaseHead title="Bi-Su Official Global Website | Global" description="Bi-Su Official Global Website―company,brands,sustainability,birdnest">
    <script src="../assets/js/point-map.js?2"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</BaseHead>
<style lang="scss">
$medium : 768px;
        canvas {
            padding: 50px 0;
            box-sizing: content-box;
            width: 100%;
            height: 100%;

        }

        .tips,.tips2 {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            padding: 5px 10px;
            background: transparent;
            color: #fff;
            border-radius: 4px;
            width:5rem;
        }

        .tips2{
          background:#fff;
          padding:7px;
          border-radius:5px;
          border:1px solid gray;
        }
         #map{
           position:relative;
                & canvas{
                 // position:absolute; top:0; left:0; z-index:0
                }
                @media screen and (max-width: $medium) {
                  width:1000px;
                  overflow:scroll;
                }
              }
</style>
  <body>
  <div class="flex flex-col h-screen justify-between">
    <Nav global="active" DIR=".."/>
      <main>
      <section>
      <div class="overflow-scroll">
        <div id="map">
        <div class="tips"></div>
        <div class="tips2">
          <div class="flex items-center justify-center gap-2">
            <a class="instagram">
              <svg class="instagram-logo" id="Layer_1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 551.034 551.034" style="enable-background:new 0 0 551.034 551.034;background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);" xml:space="preserve">
                <path class="logo" id="XMLID_17_" fill="#fff" d="M386.878,0H164.156C73.64,0,0,73.64,0,164.156v222.722 c0,90.516,73.64,164.156,164.156,164.156h222.722c90.516,0,164.156-73.64,164.156-164.156V164.156 C551.033,73.64,477.393,0,386.878,0z M495.6,386.878c0,60.045-48.677,108.722-108.722,108.722H164.156 c-60.045,0-108.722-48.677-108.722-108.722V164.156c0-60.046,48.677-108.722,108.722-108.722h222.722 c60.045,0,108.722,48.676,108.722,108.722L495.6,386.878L495.6,386.878z"/>
                <path id="XMLID_81_" fill="#fff" d="M275.517,133C196.933,133,133,196.933,133,275.516 s63.933,142.517,142.517,142.517S418.034,354.1,418.034,275.516S354.101,133,275.517,133z M275.517,362.6 c-48.095,0-87.083-38.988-87.083-87.083s38.989-87.083,87.083-87.083c48.095,0,87.083,38.988,87.083,87.083 C362.6,323.611,323.611,362.6,275.517,362.6z"/>
                <circle id="XMLID_83_" fill="#fff" cx="418.306" cy="134.072" r="34.149"/>
              </svg>
            </a>

            <a class="facebook">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" x="0px" y="0px" width="20" height="20" viewBox="0 0 50 50" style="fill:#3b5998" class="icon icons8-Facebook-Filled" >    <path d="M40,0H10C4.486,0,0,4.486,0,10v30c0,5.514,4.486,10,10,10h30c5.514,0,10-4.486,10-10V10C50,4.486,45.514,0,40,0z M39,17h-3 c-2.145,0-3,0.504-3,2v3h6l-1,6h-5v20h-7V28h-3v-6h3v-3c0-4.677,1.581-8,7-8c2.902,0,6,1,6,1V17z"></path></svg>
            </a>
          </div>
        </div></div>
        </div>
        <h1 class="text-3xl mb-10 block text-center">Deliver the value to the world</h1>
      </section>

  </main>
    <Footer />
    </div>
     <script type="text/javascript">
      const getScrollPosition = (e = window) => ({
      left: e.pageX - $(document).scrollLeft() - $('#map').offset().left,
      top : e.pageY - $(document).scrollTop() - $('#map').offset().top
    });

      // Create an instance
      let map = new PointMap('map');

      map.config.eventPointColor = "#333";
      map.config.mapBgColor = "#B8A273";
      map.config.activePointColor = '#333';
      map.config.mapActiveBgColor ='#B8A273';
      // Add event points

     map.addEvents([{
        name: 'Singapore',
        coordinate: [-70.8198, 1.3521 ],
        pointer : "../assets/maps/sg.png",
        instagram:"http://www.instagram.com",
        facebook:"http://www.facebook.com"
    }, {
        name: 'Japan',
        coordinate: [-40.5902 ,130.4017],
        pointer : "../assets/maps/jpn.png",
         instagram:"http://www.instagram.com",
        facebook:"http://www.facebook.com"
    },{
        name: 'USA',
        coordinate: [77.0369, 38.9072 ],
        pointer : "../assets/maps/usa.png",
         instagram:"http://www.instagram.com",
        facebook:"http://www.facebook.com"
    },{
        name: 'China',
        coordinate: [-70.9042 ,116.4074],
        pointer : "../assets/maps/ch.png",
         instagram:"http://www.instagram.com",
        facebook:"http://www.facebook.com"
    }]);
const tips = document.querySelector('.tips');
const tips2 = document.querySelector('.tips2');
      // regiest events
      map.on('click', function(e, data) {
        if (data) {
            tips.style.top = `${getScrollPosition(e).top  - 54 }px`;
            tips.style.left = `${getScrollPosition(e).left - 41 }px`;

            tips2.style.top = `${getScrollPosition(e).top - 38 }px`;
            tips2.style.left = `${getScrollPosition(e).left + 22 }px`;

            tips.style.display = 'block';
            //tips.innerText = data.map(d => d.name).join('\n');

            const fb = tips2.querySelector(".facebook");
            const ig = tips2.querySelector(".instagram");

            ig.href = data.map(d => d.instagram).join('\n');
            fb.href = data.map(d => d.facebook).join('\n');

            //tips2.innerText = data.map(d => d.instagram).join('\n');
            //tips2.innerText = data.map(d => d.facebook).join('\n');
            tips2.style.display = 'block';

            var el = tips.querySelector('img');
            if(el) el.remove();
            img = document.createElement("img");
            img.src = data.map(d => d.pointer).join('\n');
            tips.appendChild(img);
            console.log(getScrollPosition(e).left,getScrollPosition(e).top)
        } else {
            tips.style.display = 'none';
        }

      })
    </script>
  </body>
</html>