---
// Component Imports
import Nav from '../components/Nav.astro';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';


---
<html lang="en">
  <BaseHead title="Bi-Su Official Global Website" description="Bi-Su Official Global Website―company,brands,sustainability,birdnest"/>

  <body>
    <Nav DIR="."/>
    <section class="relative">
      <!--h1 class=" absolute top-[60%] left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-[2rem]">The Secret of Health and Beauty</h1-->
      <!--img src="./assets/images/1.jpg" alt="Koyuki-san" class="min-h-screen object-cover lg:object-fill"-->

                        <video width="100%" poster="./koyuki/img/mod/BI-SU-KOYUKI-cover-img.jpg"  playsinline autoplay muted loop>
                            <source src="./assets/movie/BI-SU-KOYUKI.mp4">
                        Your browser does not support the video tag.
                        </video>
    </section>
    <section>
      <div class="my-20 block mx-auto w-2/4">
        <h1 class="text-3xl text-center py-5 border-t border-b block border-golden">About Bird Nest</h1>
      </div>

       <div class="h-max overflow-hidden relative">
      <picture>
          <source media="(max-width:480px)" srcset="">
          <img src="./assets/images/2.jpg" alt="About Bird Nest" class="max-h-[480px] min-w-full object-cover ">
      </picture>
      <a href="/about-bird-nest" class="link"><span class="linkInner">Learn more >>></span></a>
      </div>
    <section >
      <div class="my-20 block mx-auto w-2/4">
        <h1 class="text-3xl text-center py-5 border-t border-b block border-golden">Brand</h1>
      </div>
       <div class="h-max overflow-hidden relative">
      <picture>
            <source media="(max-width:480px)" srcset="">
            <img src="./assets/images/3.jpg" alt="Brand" class="max-h-[480px] min-w-full object-cover ">
      </picture>
      <a href="/brand" class="link"><span class="linkInner">Learn more >>></span></a>
      </div>
    </section>

    <section>
      <div class="my-20 block mx-auto w-2/4">
        <h1 class="text-3xl text-center py-5 border-t border-b block border-golden">Sustainability</h1>
      </div>
      <div class="h-max overflow-hidden relative">
      <picture>
            <source media="(max-width:480px)" srcset="">
            <img src="./assets/images/4.jpg" alt="Sustainability" class="max-h-[480px] min-w-full object-cover ">
      </picture>
       <a href="/sustainability" class="link"><span class="linkInner">Learn more >>></span></a>
      </div>
    </section>

    <section>
      <div class="my-20 block mx-auto w-2/4">
        <h1 class="text-3xl text-center py-5 border-t border-b block border-golden">Global</h1>
      </div>
       <div class="h-max overflow-hidden relative">
      <picture>
            <source media="(max-width:480px)" srcset="">
            <img src="./assets/images/5.jpg" alt="Global" class="max-h-[480px] min-w-full object-cover ">
      </picture>
       <a href="/global" class="link"><span class="linkInner">Learn more >>></span></a>
      </div>
    </section>
    <Footer/>
  </body>
</html>
