<footer class="bg-blacken flex justify-center items-center">
    <div class="sm:w-2/3 block mx-auto text-center m-[4rem auto 0] leading-[4] ">
        <small>© 2020 M-Style Japan Co., Ltd.</small>
    </div>
</footer>
